<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#myModal" href="#"><span class="glyphicon glyphicon-user"></span> Getting Started</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Links to Mobile App <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="">Google Playstore</a></li>
          <li><a href="">Apple iTunes</a></li>
        </ul>
      </li>
      <li>
        <a href="/forms"><span class="glyphicon glyphicon-list-alt"></span> Forms</a>
      </li>
    </ul>
  </div>
</nav>
